<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072831543910-ji9drg8qe3coql6g8a8nd86pi4rsd1ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072831543910-ji9drg8qe3coql6g8a8nd86pi4rsd1ab</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1072831543910-h4tkqjui88ppgjm91dsgpd9qq3s06080.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlTGDNGJSHt9f4JajXIPM67FV-RrfVgqk</string>
	<key>GCM_SENDER_ID</key>
	<string>1072831543910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techbake.dailytodo</string>
	<key>PROJECT_ID</key>
	<string>dailytodo-aa083</string>
	<key>STORAGE_BUCKET</key>
	<string>dailytodo-aa083.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072831543910:ios:2a3bed25bc9dcf7af40ba7</string>
</dict>
</plist>